<div class="cliente-container">
  <form class="user-form"
        [ngFormModel]="userForm"
        (submit)="save(todoForm)">

    <h1 class="cliente-title">Nuevo usuario</h1>

    <input type="text"
           ngControl="user"
           [class.cliente-error]="!userForm.valid"
           placeholder="user"
           autofocus />
   <input type="text"
           ngControl="pass"
           [class.cliente-error]="!userForm.valid"
           placeholder="pass"
           autofocus />
   <input type="text"
           ngControl="nombre"
           [class.cliente-error]="!userForm.valid"
           placeholder="nombre"
           autofocus />
   <input type="text"
           ngControl="apellido"
           [class.cliente-error]="!userForm.valid"
           placeholder="apellido"
           autofocus />
   <input type="text"
           ngControl="tipo"
           [class.cliente-error]="!userForm.valid"
           placeholder="tipo"
           autofocus />
<br/>
    <button type="submit"
            [disabled]="!userForm.valid">Añadir</button>

</form>

<button (click)="gotoIndex()">Back</button>