<div class="cliente-container">
  <form class="modelo-form"
        [ngFormModel]="modeloForm"
        (submit)="save(modeloForm)">

    <h1 class="cliente-title">Nuevo modelo</h1>

    <br/>Nombre:<br/>
    <input type="text"
           ngControl="nombre"
           [class.cliente-error]="!modeloForm.valid"
           placeholder="Nombre de modelo"
           autofocus />
   <br/>Referencia interna:<br/>
   <input type="text"
           ngControl="refinterna"
           [class.cliente-error]="!modeloForm.valid"
           placeholder="Referencia interna"
           autofocus />
  <br/>Caracteristicas:<br/>
  <input type="text"
           ngControl="caracteristicas"
           [class.cliente-error]="!modeloForm.valid"
           placeholder="Caracteristicas"
           autofocus />
  <br/>¿Qué tipo de modelo es?:<br/>Recuerda que se considera Producto al Valiryo completo, lo demás son piezas.<br/>
  <select name="modeloDe"
           ngControl="modeloDe"
           placeholder="Selecciona el tipo.."
           [class.cliente-error]="!modeloForm.valid">
           <option value="Pieza">Pieza</option>
           <option value="Producto">Producto</option>
          </select>
   <br/>Componentes del modelo:<br/>
   <div *ngFor="#comp of components; #i=index">
   <label>
    <input type="checkbox"
        name="compuesto"
        ngControl="compuestoPor"
        value="{{comp}}"
        (change)="setOption(comp);u=true;"
        [class.cliente-error]="!modeloForm.valid"
        />
        {{comp}}
        
        </label></div>
        <div *ngIf="u==true;">
           <br/>Unidades:
            <select id="un" 
                name="unidades"
                ngControl="unidades"
                (change)="setUds(modeloForm);u=false;"
                (change)="false;setUds(modeloForm);"
                [class.cliente-error]="!modeloForm.valid">
                <option selected="selected" value="0" >0</option>
                <option value="1">1</option>
                <option value="2">2</option>
             </select>   
        </div>
 

<br/><br/>
    <button type="submit"
            [disabled]="!modeloForm.valid">Añadir</button>

</form>

<button (click)="gotoIndex()">Back</button>