<div class="cliente-container">
  <form class="pieza-form"
        [ngFormModel]="piezaForm"
        (submit)="save(piezaForm)">

    <h1 class="cliente-title">Nueva pieza</h1>

    <br/>Identificador de pieza:<br/>
    <input type="text"
           ngControl="_id"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Identificador de pieza"
           autofocus />
   <br/>Modelo:<br/>
   <select name="modelo"
           ngControl ="modelo"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Modelo de pieza">
           <option *ngFor="#model of modelos" >{{model.nombre}}</option>
           </select>
  <br/>Estado:<br/>
  <select name="estado"
           ngControl="estado"
           placeholder="Selecciona el estado.."
           [class.cliente-error]="!piezaForm.valid">
           <option value="Nuevo">Nuevo</option>
           <option value="Usado">Usado</option>
           <option value="Rota">Rota</option>
           <option value="Reparando">Reparando</option>
          </select>
 <br/>Lote:<br/>
  <input type="text"
           ngControl="lote"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Lote"
           autofocus />
 <br/>Caracteristicas:<br/>
  <input type="text"
           ngControl="caracteristicas"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Caracteristicas"
           autofocus />
   <br/>Almacén de ubicación:<br/>
  <input type="text"
           ngControl="almacen"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Almacén"
           autofocus />
 <br/>Almacén de procedencia:<br/>
  <input type="text"
           ngControl="almacenOrigen"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Almacén de procedencia"
           autofocus />
  <br/>¿Está vendida?:<br/>
  <select name="vendido"
           ngControl="vendido"
           placeholder="¿Está vendida?"
           [class.cliente-error]="!piezaForm.valid">
           <option value="false">No</option>   
           <option value="true">Si</option>
          </select>
  <br/>Compuesta por:<br/>
  <input type="text"
           ngControl="compuestoPor"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Compuesta por..."
           autofocus />
  <br/>Precio:<br/>
  <input type="text"
           ngControl="precio"
           [class.cliente-error]="!piezaForm.valid"
           placeholder="Pieza"
           autofocus />

<br/><br/>
    <button type="submit"
            [disabled]="!piezaForm.valid">Añadir</button>

</form>

<button (click)="gotoIndex()">Back</button>