<div class="pieza-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="submenu-title">Productos > Piezas > Detalles de pieza</h1>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div *ngIf="pieza">
        <form class="pieza-form" [ngFormModel]="piezaForm">
          <div class="form-group">
            <label for="id">Identificador de pieza:</label>
            <input [(ngModel)]="pieza._id" class="form-control" id="id"/>
          </div>
          <div class="form-group">
            <label for="modelo">Modelo:</label>
            <select name="modelo" 
              class="form-control" 
              id="modelo" 
              [(ngModel)]="pieza.modelo"
              [class.formulario-error]="!piezaForm.valid"
              placeholder="Selecciona un modelo de pieza">
              <option *ngFor="#model of modelos" >{{model.nombre}}</option>
           </select>
          </div>
          <div class="form-group">
            <label for="estado">Estado:</label>
            <select name="estado" 
              class="form-control" 
              id="estado" 
              [(ngModel)]="pieza.estado"
              [class.formulario-error]="!piezaForm.valid" placeholder="Selecciona el estado de la pieza">
              <option value="Nuevo">Nuevo</option>
              <option value="Usado">Usado</option>
              <option value="Rota">Rota</option>
              <option value="Reparando">Reparando</option>
            </select>
          </div>
          <div class="form-group">
            <label for="lote">Lote:</label>
            <input type="text" 
              class="form-control" 
              id="lote" 
              [(ngModel)]="pieza.lote"/>
          </div>
          <div class="form-group">
            <label for="caracteristicas">Características:</label>
            <input type="text" 
              class="form-control" 
              id="caracteristicas" 
              [(ngModel)]="pieza.caracteristicas"/>
          </div>
          <div class="form-group">
            <label for="almacen">Almacén de ubicación:</label>
            <input type="text" 
              class="form-control" 
              id="almacen" 
              [(ngModel)]="pieza.almacen"/>
          </div>
          <div class="form-group">
            <label for="almacenOrigen">Almacén de procedencia:</label>
            <input type="text" 
              class="form-control" 
              id="almacenOrigen" 
              [(ngModel)]="pieza.almacenOrigen"/>
          </div>
          <div class="form-group">
            <label for="vendido">¿Está vendida?:</label>
            <select name="vendido" 
              class="form-control" 
              id="vendido" 
              [(ngModel)]="pieza.vendido"
              [class.formulario-error]="!piezaForm.valid" placeholder="¿Está vendida?">
              <option value="false">No</option>   
              <option value="true">Si</option>
            </select>
          </div>
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="text" 
              class="form-control" 
              id="precio" 
              [(ngModel)]="pieza.precio"/>
          </div>

          <div *ngIf="components.length>0">
            <h5><i class="fa fa-list"></i>Componentes de la pieza:</h5>

            <div  *ngFor="#p of components;" >
             <ul> {{p}}        <button class="btn btn-danger btn-xs" (click)="buscar(p);"><i class="fa fa-search "></i></button><button class="btn btn-danger btn-xs" (click)="minus(p);"><i class="fa fa-trash-o "></i></button></ul> <!--<a (click)="minus(p);"><i class="fa fa-trash-o" aria-hidden="true"></i></a>-->
            </div>
          </div>
        </form>
      </div>
      <p>
        <button (click)="gotoIndex()" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-angle-left" aria-hidden="true"></i> Volver</button>
        <button (click)="edit(pieza)" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar pieza</button>
        <button (click)="delete(pieza)" class="btn btn-formulario pull-right"><i class="fa fa-times" aria-hidden="true"></i> Eliminar pieza</button>
      </p>
    </div>
  </div>
</div>

    	<!-- <h3>Pieza: {{pieza._id}}</h3>
        <label>Identificador: </label>
        <input [(ngModel)]="pieza._id" placeholder="Identificador"/><br/>
        <label>Modelo: </label>
        <select name="modelo"
            [(ngModel)]="pieza.modelo"
           [class.formulario-error]="!piezaForm.valid"
           placeholder="Modelo de pieza">
           <option *ngFor="#model of modelos" >{{model.nombre}}</option>
           </select><br/>
        <label>Estado: </label> 
        <select name="estado"
           [(ngModel)]="pieza.estado"
           placeholder="Estado"
           [class.formulario-error]="!piezaForm.valid">
           <option value="Nuevo">Nuevo</option>
           <option value="Usado">Usado</option>
           <option value="Rota">Roto</option>
           <option value="Reparando">Reparando</option>
          </select><br/>
        <label>Lote: </label>
        <input [(ngModel)]="pieza.lote" placeholder="Lote"/><br/>
        <label>Caracteristicas: </label>
        <input [(ngModel)]="pieza.caracteristicas" placeholder="Caracteristicas"/><br/>
        <label>Almacén de ubicación: </label>
        <input [(ngModel)]="pieza.almacen" placeholder="Almacén"/><br/>
        <label>Almacén de origen: </label>
        <input [(ngModel)]="pieza.almacenOrigen" placeholder="Almacén de origen"/><br/>
        <label>¿Está vendida?: </label>
        <select name="vendido"
           [(ngModel)]="pieza.vendido"
           placeholder="¿Está vendida?"
           [class.formulario-error]="!piezaForm.valid">
           <option value="false">No</option>   
           <option value="true">Si</option>
          </select><br/><br/>
        <label>Precio: </label>
        <input [(ngModel)]="pieza.precio" placeholder="Precio"/><br/><br/>
       
        <div *ngIf="components.length>0">
          <h5><i class="fa fa-list"></i>Componentes de la pieza:</h5>

            <div  *ngFor="#p of components;" >
             <ul> {{p}}        <button class="btn btn-danger btn-xs" (click)="buscar(p);"><i class="fa fa-search "></i></button><button class="btn btn-danger btn-xs" (click)="minus(p);"><i class="fa fa-trash-o "></i></button></ul>
            </div>
          </div>
        <br/><br/>
         <form class="pieza-form"
        [ngFormModel]="piezaForm"
        ><br/>Componentes de la pieza para añadir:<br/>        
   <input type="text"
           ngControl="compuestoPor"
           placeholder="Compuesta por..."
           autofocus />   
           <a (click)="plus(piezaForm);"><i class="fa fa-plus" aria-hidden="true"></i></a></form>

      <button (click)="gotoIndex()">Back</button>
      <button (click)="edit(pieza)">Save</button>
      <button (click)="delete(pieza)">Delete</button>

</div>-->
