<div class="nav-enlaces">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-md-offset-5">
			<div class="box">
			    <i class="fa fa-user fa-2x"></i> 
			</div>
			<a [routerLink]="['/CreatePieza']">Nueva pieza</a>
		</div>
	</div>
</div>

<div class="cliente-container">
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
      		<h1 class="cliente-title">Listado de piezas</h1>
		    <ul class="items">
		      <li *ngFor="#pieza of piezas"
		        [class.selected]="isSelected(pieza)"
		        (click)="onSelect(pieza)">
		        <span class="badge">{{pieza._id}}</span>{{pieza.modelo}}
		      </li>
    		</ul>
		</div>
	</div>
</div>

<!-- <a [routerLink]="['/CreatePieza']">Nueva pieza</a>
<div class="cliente-container">
<h2>LIST</h2>
    <ul class="items">
      <li *ngFor="#pieza of piezas"
        [class.selected]="isSelected(pieza)"
        (click)="onSelect(pieza)">
        <span class="badge">{{pieza._id}}</span>{{pieza.modelo}}
      </li>
    </ul>
</div> -->