<div class="pieza-container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="submenu-title">Productos > Piezas</h1>
			<a [routerLink]="['/CreatePieza']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nueva pieza</a>
		</div>
	</div>
	<br><br>
	<div class="row">
    	<div class="col-md-12">
    		<table class="table table-hover table-responsive">
	    		<thead>
	    			<tr>
	    				<th>Modelo</th>
	    				<th>Estado</th>
	    				<th>Lote</th>
	    				<th>Características</th>
	    				<th>Ubicación</th>
	    				<th>Procedencia</th>
	    				<th>Vendida</th>
	    				<th>Precio</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr *ngFor="#pieza of piezas"
		        [class.selected]="isSelected(pieza)"
		        (click)="onSelect(pieza)">
	    				<td>{{pieza.modelo}}</td>
	    				<td>{{pieza.estado}}</td>
	    				<td>{{pieza.lote}}</td>
	    				<td>{{pieza.caracteristicas}}</td>
	    				<td>{{pieza.almacen}}</td>
	    				<td>{{pieza.almacenOrigen}}</td>
	    				<td>{{pieza.vendido}}</td>
	    				<td>{{pieza.precio}}</td>
	    			</tr>
    			</tbody>
    		</table>
		</div>
	</div>
</div>

<!-- <a [routerLink]="['/CreatePieza']">Nueva pieza</a>
<div class="cliente-container">
<h2>LIST</h2>
    <ul class="items">
      <li *ngFor="#pieza of piezas"
        [class.selected]="isSelected(pieza)"
        (click)="onSelect(pieza)">
        <span class="badge">{{pieza._id}}</span>{{pieza.modelo}}
      </li>
    </ul>
</div> -->