<section id="container" >
     <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
            <div class="sidebar-toggle-box">
               
            </div>
            <!--logo start-->
            <a href="#" class="logo"><img src="/client/dev/login/templates/img/logo2.png" /></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a  data-toggle="dropdown" class="dropdown-toggle link-activo" (click)="almacen()">
                          Almacén   
                        </a>   
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="compras()">
                           Compras
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="ventas()">
                          Ventas
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="admin()">
                            Admin
                        </a>   
                    </li>
                    <!-- settings end -->  
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><button class="btn btn-lg btn-logout navbar-btn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button></a></li>
            	</ul>
            </div>
      </header>

            <!-- Prueba dropdown menu -->
            <!-- <div id="MobileMenu">
              <div class="list-group panel">
                <a href="#almacen" (click)="almacen()" class="list-group-item" data-toggle="collapse" data-parent="#MobileMenu">ALMACÉN</a>
                <div class="collapse" id="almacen">
                  <a href="#almValiryo" class="list-group-item margen-izq" data-toggle="collapse" data-parent="#almValiryo"><i class="fa fa-home"></i> Almacén Valiryo <i class="fa fa-caret-down"></i></a>
                  <div class="collapse list-group-submenu" id="almValiryo">
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#almValiryo">Stock producto</a>
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#almValiryo">Stock piezas</a>
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#almValiryo">Piezas rotas</a>
                  </div>
                  <a href="#producto" class="list-group-item margen-izq" data-toggle="collapse" data-parent="#producto"><i class="fa fa-barcode"></i> Producto <i class="fa fa-caret-down"></i></a>
                  <div class="collapse list-group-submenu" id="producto">
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#producto">Producto final</a>
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#producto">Piezas</a>
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#producto">Modelos</a>
                  </div>
                  <a href="javascript:;" class="list-group-item margen-izq"><i class="fa fa-cogs"></i> Control de calidad</a>
                  <a href="#almExternos" class="list-group-item margen-izq" data-toggle="collapse" data-parent="#almExternos"><i class="fa fa-truck"></i> Almacenes externos <i class="fa fa-caret-down"></i></a>
                  <div class="collapse list-group-submenu" id="almExternos">
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#almExternos">PLASNOR</a>
                    <a href="#" class="list-group-item dbl-margen-izq" data-parent="#almExternos">LANTEGI</a>
                  </div>
                  <a href="javascript:;" class="list-group-item margen-izq"><i class="fa fa-wrench"></i> Reparaciones</a>
                </div>

                <a href="#compras" (click)="compras()" class="list-group-item" data-toggle="collapse" data-parent="#MobileMenu">COMPRAS</a>
                <div class="collapse" id="compras">
                  <a href="javascript:;" class="list-group-item">Proveedores</a>
                  <a href="#comprasProductos" class="list-group-item" data-toggle="collapse" data-parent="#comprasProductos">Productos <i class="fa fa-caret-down"></i></a>
                  <div class="collapse list-group-submenu" id="comprasProductos">
                    <a href="#" class="list-group-item" data-parent="#compras">Producto final</a>
                    <a href="#" class="list-group-item" data-parent="#compras">Piezas</a>
                    <a href="#" class="list-group-item" data-parent="#compras">Modelos</a>
                  </div>
                  <a href="javascript:;" class="list-group-item">Pedido de compra</a>
                  <a href="javascript:;" class="list-group-item">Lotes</a> 
                </div>

                <a href="#ventas" (click)="ventas()" class="list-group-item" data-toggle="collapse" data-parent="#MobileMenu">VENTAS</a>
                <div class="collapse" id="ventas">
                  <a href="javascript:;" class="list-group-item">Clientes</a>
                  <a href="javascript:;" class="list-group-item">Pedidos</a>
                  <a href="javascript:;" class="list-group-item">Devoluciones</a>
                  <a href="javascript:;" class="list-group-item">Salidas por avería</a>
                  <a href="javascript:;" class="list-group-item">Garantías</a>
                </div>

                <a href="#admin" (click)="admin()" class="list-group-item" data-toggle="collapse" data-parent="#MobileMenu">ADMIN</a>
                <div class="collapse" id="admin">
                  <a href="javascript:;" class="list-group-item">Control de usuarios</a>
                  <a href="javascript:;" class="list-group-item">Gestión de almacenes</a>
                  <a href="javascript:;" class="list-group-item">Tipos de garantías</a>
                </div>
                
                 <a (click)="logout()"  class="list-group-item" data-toggle="collapse" data-parent="#MobileMenu"><i class="fa fa-sign-out"></i> Logout</a>
                
              </div>
            </div> -->



      
       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li class="sub-menu">
                      <a href="javascript:;" (click)="d1=true;d2=false;d3=false">
                          <i class="fa fa-home"></i>
                          <span>Almacén Valiryo</span>
                      </a>
                      

                      <ul class="dropdown" *ngIf="d1==true">

                          <li><a  href="general.html">Stock Producto</a></li>
                          <li><a  href="buttons.html">Stock Piezas</a></li>
                          <li><a  href="panels.html">Piezas rotas</a></li>
                      </ul>
                      
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="d2=true;d1=false;d3=false;">
                          <i class="fa fa-barcode"></i>
                          <span>Producto</span>
                      </a>
                      <ul class="dropdown" *ngIf="d2==true">
                          <li><a  href="general.html">Producto final</a></li>
                          <li><a  href="buttons.html">Piezas</a></li>
                          <li><a  href="panels.html">Modelos</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="d1=false;d2=false;d3=false;">
                          <i class="fa fa-cogs"></i>
                          <span>Control de calidad</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" (click)="d3=true;d1=false;d2=false;">
                          <i class="fa fa-truck"></i>
                          <span>Almacenes externos</span>
                      </a>
                      <ul class="dropdown" *ngIf="d3==true">
                          <li><a  href="blank.html">PLASNOR</a></li>
                          <li><a  href="login.html">LANTEGI</a></li>
                      </ul>
                  </li>
                   <li class="sub-menu">
                      <a href="javascript:;" (click)="d1=false;d2=false;d3=false;">
                          <i class="fa fa-wrench"></i>
                          <span>Reparaciones</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->


  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
              <!-- Si queremos meter un menu a la derecha, el siguiente div será de 9 para posibilitar uno de 3 a la derecha-->
                  <div class="col-lg-12 main-chart">
                  
                    <div class="row mtbox">
                        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                          <a href="javascript:;" (click)="d1=true;d2=false;d3=false">
                            <div class="box1">
                              <i class="fa fa-home fa-3x"></i> 
                              <h3>Almacén Valiryo</h3>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                          <div class="box1">
                            <i class="fa fa-barcode fa-3x"></i>
                            <h3>Producto<br/></h3>
                          </div>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                          <a href="javascript:;" (click)="d1=false;d2=false;d3=false;">
                            <div class="box1">
                              <i class="fa fa-cogs fa-3x"></i>
                              <h3>Control de Calidad</h3>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                          <a href="javascript:;" (click)="d3=true;d1=false;d2=false;">
                            <div class="box1">
                              <i class="fa fa-truck fa-3x"></i>
                              <h3>Almacenes externos</h3>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                          <a href="javascript:;" (click)="d1=false;d2=false;d3=false;">
                            <div class="box1">
                              <i class="fa fa-wrench fa-3x"></i>
                              <h3>Reparaciones</h3>
                            </div>
                          </a>
                        </div>
                    
                    </div><!-- /row mtbox -->  

                  </div><!-- /col-lg-9 END SECTION MIDDLE -->

              </div><!--/row -->
          </section>
      </section>
      <!--main content end-->
</section>
