<div class="container-fluid" id="login-page">
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1 registro">
        <img src="/client/dev/login/templates/img/logo.png" alt="Acceso al panel de gestión de Valiryo" class="logoregistro"/>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-10 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1">
        <form class="form-login"
           [ngFormModel]="loginForm"
          (submit)="login(loginForm)">

          <h2 class="form-login-heading">Gestión de almacenes</h2>
          <div *ngIf="Error">Error. Inténtalo de nuevo.</div>
          <div class="login-wrap">
              <div class="form-group">
                <label for="user">Usuario:</label>
                <input type="text"
                     id="user"
                     ngControl="user"
                      class="form-control"
                      [class.cliente-error]="!loginForm.valid"
                     placeholder="usuario"
                     autofocus />
              </div>
              <div class="form-group">
              <label for="pass">Constraseña:</label>
              <input type="password"
                    id="pass"
                    ngControl="pass"
                    class="form-control"
                    [class.cliente-error]="!loginForm.valid"
                    placeholder="contraseña"
                    autofocus />
              </div>
               <br/>
          <button class="btn btn-theme btn-block" type="submit"
                  [disabled]="!loginForm.valid"><i class="fa fa-lock"></i> Acceder</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="container-fluid" id="login-page">
  <form class="form-login"
         [ngFormModel]="loginForm"
        (submit)="login(loginForm)">

    <h2 class="form-login-heading">Gestion de almacenes</h2>
    <div *ngIf="Error">Error. Inténtalo de nuevo.</div>
    <div class="login-wrap">
        <div>
          <br/>Usuario:<br/>
          <input type="text"
               ngControl="user"
                class="form-control"
                [class.cliente-error]="!loginForm.valid"
               placeholder="usuario"
               autofocus />
          <br/>Constraseña:<br/>
          <input type="password"
               ngControl="pass"
               class="form-control"
               [class.cliente-error]="!loginForm.valid"
               placeholder="contraseña"
               autofocus />
         </div>
         <br/>
    <button class="btn btn-theme btn-block" type="submit"
            [disabled]="!loginForm.valid"><i class="fa fa-lock"></i> Acceder</button>
  </div>
  </form>

</div>
 -->

      