<div id="login-page" style="background-image:url('login-bg.jpg');">
  <div class="container">
    <form class="form-login"
           [ngFormModel]="loginForm"
          (submit)="login(loginForm)">

      <h2 class="form-login-heading">Login</h2>
      <div *ngIf="Error">Try again.</div>
      <div class="login-wrap">
          <div>
            <br/>Usuario:<br/>
            <input type="text"
                 ngControl="user"
                  class="form-control"
                  [class.cliente-error]="!loginForm.valid"
                 placeholder="user"
                 autofocus />
            <br/>Constraseña:<br/>
            <input type="password"
                 ngControl="pass"
                 class="form-control"
                 [class.cliente-error]="!loginForm.valid"
                 placeholder="pass"
                 autofocus />
           </div>
           <br/>
      <button class="btn btn-theme btn-block" type="submit"
              [disabled]="!loginForm.valid"><i class="fa fa-lock"></i>Login</button>
    </div>
    </form>

  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <footer class="site-footer" style="background-color:grey;">
          <div class="text-center">
              2016 - Raquel Castillo Perez
                  <i class="fa fa-smile-o"></i>
          </div>
      </footer>
</div>


      