<section id="container" >
     <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
         <!--  <div class="sidebar-toggle-box pull-right visible-xs hidden-sm hidden-md hidden-lg">
              <div class="fa fa-bars tooltips" data-placement="bottom" data-original-title="Menú principal" ></div>
          </div> -->
          <!-- Para Móvil -->

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".MobileMenu" style="background: white;">
                <span class="sr-only">Menú</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <!--logo start-->
          <a href="#" class="logo"><img src="/client/dev/login/templates/img/logo2.png" /></a>
          <!--logo end-->
          <div class="nav notify-row" id="top_menu">
              <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="almacen()">
                        Almacén  
                        </a>
                     </li>   
                    <li class="dropdown" >
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="compras()">
                        	 Compras
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle link-activo" (click)="ventas()">
                        Ventas
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="admin()">
                        Admin
                        </a>
                    </li>
                    <!-- settings end -->
                    
              </ul>
              <!--  notification end -->
          </div>
          <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><button class="btn btn-lg btn-logout navbar-btn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button></a></li>
              </ul>
          </div>
      </header>
      <!--header end-->
      <!--FIN MENU SUPERIOR-->

       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar dispositivos GRANDES start-->
      <aside>
          <div id="sidebar"  class="hidden-xs visible-sm visible-md visible-lg visible-xl">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <li class="sub-menu">
                      <a href="/gclientes" (click)="clientes();" >
                          <i class="fa fa-user"></i>
                          <span>Clientes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-shopping-cart"></i>
                          <span>Pedidos</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-refresh"></i>
                          <span>Devoluciones</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-exclamation-triangle"></i>
                          <span>Salidas por avería</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-pencil-square-o"></i>
                          <span>Garantías</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--sidebar dispositivos PEQUEÑOS start-->
      <aside>
          <div id="sidebar"  class="MobileMenu nav-collapse visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              <!-- Almacén -->
                  <li>
                    <a href="#">ALMACÉN</a>
                    <ul>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span>Almacén Valiryo</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="javascript:;" >
                          <i class="fa fa-barcode"></i>
                          <span>Producto</span>
                        </a>
                        <ul class="sub">
                          <li><a href="#">Producto final</a></li>
                          <li><a href="#">Piezas</a></li>
                          <li><a href="#">Modelos</a></li>
                        </ul>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            <span>Control de calidad</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="javascript:;" >
                          <i class="fa fa-truck"></i>
                          <span>Almacenes externos</span>
                        </a>
                        <ul class="sub">
                          <li><a href="#">Plasnor</a></li>
                          <li><a href="#">Lantegi</a></li>
                        </ul>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-wrench"></i>
                            <span>Reparaciones</span>
                        </a>
                      </li>
                    </ul>
                  </li>
              <!-- Fin almacén -->
              <!-- Almacén -->
                  <li>
                    <a href="#">COMPRAS</a>
                    <ul>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Proveedores</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="javascript:;" >
                          <i class="fa fa-barcode"></i>
                          <span>Productos</span>
                        </a>
                        <ul class="sub">
                          <li><a href="#">Producto final</a></li>
                          <li><a href="#">Piezas</a></li>
                          <li><a href="#">Modelos</a></li>
                        </ul>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Pedido de compra</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-cubes"></i>
                            <span>Lotes</span>
                        </a>
                      </li>
                    </ul>
                  </li>
              <!-- Fín Compras -->
              <!-- Ventas -->
                  <li>
                    <a href="#">VENTAS</a>
                    <ul>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Clientes</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Pedidos</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-refresh"></i>
                            <span>Devoluciones</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-exclamation-triangle"></i>
                            <span>Salidas por avería</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-cubes"></i>
                            <span>Lotes</span>
                        </a>
                      </li>
                    </ul>
                  </li>
              <!-- Fín ventas -->
              <!-- Admin -->
                  <li>
                    <a href="#">ADMIN</a>
                    <ul>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Control de usuarios</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-cubes"></i>
                            <span>Gestión de almacenes</span>
                        </a>
                      </li>
                    <!--  -->
                      <li class="sub-menu">
                        <a href="#">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Tipos de garantías</span>
                        </a>
                      </li>
                    </ul>
                  </li>
              <!-- Fín Admin -->
              <!-- Logout -->
                  <li>
                    <a href="#">LOGOUT</a>
                  </li>
              <!-- Fín Logout -->
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
              <!-- Si queremos meter un menu a la derecha, el siguiente div será de 9 para posibilitar uno de 3 a la derecha-->
                  <div class="col-lg-12 main-chart">
                  
                    <div class="row mtbox">
                      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 box0">
                        <a href="/gclientes" (click)="clientes();" >
                          <div class="box1">
                            <i class="fa fa-user fa-3x"></i> 
                            <h3>Clientes</h3>
                          </div>
                        </a>
                        <!-- <p>933 People liked your page the last 24hs. Whoohoo!</p> -->
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 box0">
                        <a href="javascript:;" >
                          <div class="box1">
                            <i class="fa fa-shopping-cart fa-3x"></i> 
                            <h3>Pedidos</h3>
                          </div>
                        </a>
                        <!-- <p>48 New files were added in your cloud storage.</p> -->
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 box0">
                        <a href="javascript:;" >
                          <div class="box1">
                            <i class="fa fa-refresh fa-3x"></i> 
                            <h3>Devoluciones</h3>
                          </div>
                        </a>
                        <!-- <p>You have 23 unread messages in your inbox.</p> -->
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 col-md-offset-1 col-lg-offset-0 box0">
                        <a href="javascript:;" >
                          <div class="box1">
                            <i class="fa fa-exclamation-triangle fa-3x"></i> 
                            <h3>Salidas por avería</h3>
                          </div>
                        </a>
                        <!-- <p>More than 10 news were added in your reader.</p> -->
                      </div>
                      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 box0">
                        <a href="javascript:;" >
                          <div class="box1">
                            <i class="fa fa-pencil-square-o fa-3x"></i> 
                            <h3>Garantía</h3>
                          </div>
                        </a>
                        <!-- <p>Your server is working perfectly. Relax & enjoy.</p> -->
                      </div>
                    
                    </div><!-- /row mt -->  
                  
          
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      ***********************************************************************************************************************************************************                  
                  
                  <div class="col-lg-3 ds">                      
                      
                  </div><!-- /col-lg-3 -->
              </div><!--/row -->
          </section>
      </section>

      <!--main content end-->      

</section>
