<div class="cliente-container">
  <form class="user-form"
        [ngFormModel]="userForm"
        (submit)="save(todoForm)">

    <h1 class="cliente-title">Nuevo usuario</h1>

    <br/>Usuario:<br/>
    <input type="text"
           ngControl="user"
           [class.cliente-error]="!userForm.valid"
           placeholder="user"
           autofocus />
   <br/>Constraseña:<br/>
   <input type="password"
           ngControl="pass"
           [class.cliente-error]="!userForm.valid"
           placeholder="pass"
           autofocus />
  <br/>Confirma la contaseña:<br/>
  <input type="password"
           ngControl="passs"
           [class.cliente-error]="!userForm.valid"
           placeholder="Confirm pass"
           autofocus />
   <br/>Nombre:<br/>
   <input type="text"
           ngControl="nombre"
           [class.cliente-error]="!userForm.valid"
           placeholder="nombre"
           autofocus />
   <br/>Apellido:<br/>
   <input type="text"
           ngControl="apellido"
           [class.cliente-error]="!userForm.valid"
           placeholder="apellido"
           autofocus />
     <br/>Tipo:<br/>
     <select name="tipo"
           ngControl="tipo"
           placeholder="Selecciona el tipo.."
           [class.cliente-error]="!userForm.valid">
           <option value="admin" selected>Admin</option>
           <option value="encargado">Encargado</option>
          </select>
<br/><br/>
    <button type="submit"
            [disabled]="!userForm.valid">Añadir</button>

</form>

<button (click)="gotoIndex()">Back</button>