<section id="container">
     <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      
        <header>
        
        <!--MENC DE NAVEGACICN-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Para MC3vil -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".MobileMenu">
                <span class="sr-only">Menú:</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">VALIRYO</a> -->
              <a href="#" class="pull-left logo"><img src="/client/dev/login/templates/img/logo2.png"></a>
            </div>
            <!-- Dispositivos grandes -->
            <div class="collapse navbar-collapse"> <!-- navbar1 -->
              <ul class="nav navbar-nav">
                <li><a (click)="almacen()">Almacén</a></li>
                <li><a (click)="compras()">Compras</a></li>
                <li><a (click)="ventas()" class="link-activo">Ventas</a></li>
                <li><a (click)="admin()">Admin</a></li>
              </ul>
              <button class="btn btn-lg btn-logout navbar-btn pull-right" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
            </div> 
          </div>
        </nav>

        </header>

        <!-- MENC dispositivos pequeC1os -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
             <div class="collapse navbar-collapse MobileMenu" id="nav-movil">
                <ul class="nav navbar-nav">
                    <!-- ALMACC N -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">ALMACÉN <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- AlmacC)n Valiryo -->
                            <li class="dropdown">
                              <a href="#">
                                <i class="fa fa-home"></i>
                                <span>Almacén Valiryo</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">Stock Producto</a></li>
                                <li><a href="#">Stock Piezas</a></li>
                                <li><a href="#">Piezas rotas</a></li>
                              </ul>    
                            </li>
                            <!-- Producto -->
                            <li class="dropdown">
                              <a href="#">
                                <i class="fa fa-barcode"></i>
                                <span>Producto</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">Producto final</a></li>
                                <li><a href="#">Piezas</a></li>
                                <li><a href="#">Modelos</a></li>
                              </ul> 
                            </li>
                            <!-- Control de calidad -->
                            <li>
                              <a (click)="gcontrolcalidad();">
                                <i class="fa fa-cogs"></i>
                                <span>Control de calidad</span>
                              </a>
                            </li>
                            <!-- Almacenes externos -->
                            <li class="dropdown-submenu">
                              <a href="#">
                                <i class="fa fa-truck"></i>
                                <span>Almacenes externos</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">PLASNOR</a></li>
                                <li><a href="#">LANTEGI</a></li>
                              </ul> 
                            </li>
                            <!-- Reparaciones -->
                            <li>
                              <a (click)="greparaciones();">
                                <i class="fa fa-wrench"></i>
                                <span>Reparaciones</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- COMPRAS -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle" class="active">COMPRAS <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Proveedores -->
                            <li>
                              <a (click)="gproveedores();" >
                                <i class="fa fa-user"></i>
                                <span>Proveedores</span>
                              </a>
                            </li>
                            <!-- Productos -->
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="fa fa-barcode"></i>
                                <span>Productos</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a (click)="gproductos();">Producto final</a></li>
                                <li><a (click)="gpiezas();">Piezas</a></li>
                                <li><a (click)="gmodelos();">Modelos</a></li>
                              </ul> 
                            </li>
                            <!-- Pedido de compra-->
                            <li>
                              <a (click)="gpedidocompras();">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Pedido de compra</span>
                              </a>
                            </li>
                            <!-- Lotes -->
                            <li>
                              <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Lotes</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- VENTAS -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">VENTAS <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Clientes -->
                            <li>
                              <a (click)="gclientes();">
                                <i class="fa fa-user"></i>
                                <span>Clientes</span>
                              </a>
                            </li>
                            <!-- Pedidos -->
                            <li>
                              <a (click)="gventas();">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Pedidos</span>
                              </a>
                            </li>
                            <!-- Devoluciones -->
                            <li>
                              <a (click)="gdevoluciones();">
                                <i class="fa fa-refresh"></i>
                                <span>Devoluciones</span>
                              </a>
                            </li>
                            <!-- Salidas por averC-a -->
                            <li>
                              <a (click)="gsegsalidas();"  class="active">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>Salidas por avería</span>
                              </a>
                            </li>
                            <!-- GarantC-a -->
                            <li>
                              <a (click)="ggarantiasp();">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Garantías</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">ADMIN <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Control de usuarios -->
                            <li>
                              <a (click)="gusuarios();">
                                <i class="fa fa-user"></i>
                                <span>Control de usuarios</span>
                              </a>
                            </li>
                            <!-- GestiC3n de almacenes -->
                            <li>
                              <a  (click)="galmacenes();">
                                <i class="fa fa-cubes"></i>
                                <span>Gestiónn almacenes</span>
                              </a>
                            </li>
                            <!-- Tipos de garantC-as -->
                            <li>
                              <a (click)="ggarantias();">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Tipos de garantías</span>
                              </a>
                            </li> 
                            
                        </ul>
                    </li>
                    <!-- <li class="divider"></li> -->
                    <li class="salir">
                      <button class="btn btn-lg btn-logout navbar-btn pull-left" (click)="logout()"><i class="fa fa-sign-out"></i> LOGOUT</button>
                    </li>
                </ul>
            </div>
            </div>
        
      <!--header end-->
       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
<!--sidebar dispositivos GRANDES start-->
      <aside>
          <div id="sidebar"  class="hidden-xs visible-sm visible-md visible-lg visible-xl">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <li class="sub-menu">
                      <a (click)="gclientes();">
                          <i class="fa fa-user"></i>
                          <span>Clientes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a (click)="gventas();" >
                          <i class="fa fa-shopping-cart"></i>
                          <span>Pedidos</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a (click)="gdevoluciones();">
                          <i class="fa fa-refresh"></i>
                          <span>Devoluciones</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a (click)="gsegsalidas();"  class="active">
                          <i class="fa fa-exclamation-triangle"></i>
                          <span>Salidas por avería</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a (click)="ggarantiasp();" >
                          <i class="fa fa-pencil-square-o"></i>
                          <span>Garantías</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12 main-chart">
    					<div class="section-container">
    						<div class="row">
    							<div class="col-md-12">
    								<h1 class="submenu-title">Salidas por avería</h1>
    								<a [routerLink]="['/CreateSegSalida']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nueva salida</a>
    							</div>
    						</div>
    						<br><br>
    						<div class="row">
    							<div class="col-md-12">
    					    		<table class="table table-hover table-responsive">
    						    		<thead>
    						    			<tr>
    						    				<th>Cliente</th>
                            <th>Dirección envío</th>
                            <th>Transporte</th>  
    						    				<th>Fecha de salida</th>
    						    			</tr>
    						    		</thead>
    						    		<tbody>
    						    			<tr *ngFor="let ss of segsalidas"
    							        [class.selected]="isSelected(ss)"
    							        (click)="onSelect(ss)">
    						    				<td>{{ss.idventa.cliente}}</td>
    						    				<td>{{ss.idventa.direccionEnvio}}</td>
                            <td>{{ss.idventa.transporte}}</td> 
    						    				<td>{{ss.fechaSegSalida.toString().substring(0,10)}}</td>    						    				
    						    			</tr>
    					    			</tbody>
    					    		</table>
    							</div>
    						</div>
					    </div> 
            </div><!-- end col-lg-12 main-chart -->
          </div><!--end row -->
        </section>
      </section>

      <!--main content end-->

</section>

