<section id="container">
         <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  
              </div>
            <!--logo start-->
            <a href="#" class="logo"><b>Valiryo</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="almacen()">
                        Almacen
                            <i class="fa fa-tasks"></i>
                            
                        </a>
                        
                     </li>   
                    <li class="dropdown" >
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="compras()" style="background-color: grey; color:white;">
                           Compras
                            <i class="fa fa-tasks"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="ventas()">
                        Ventas
                            <i class="fa fa-tasks"></i>
                            
                        </a>
                       
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="admin()">
                        Admin
                            <i class="fa fa-tasks"></i>
                            
                        </a>
                        
                       
                    </li>
                    <!-- settings end -->
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><button class="btn btn-primary" (click)="logout()">Logout</button></a></li>
              </ul>
            </div>
        </header>
      <!--header end-->
      <!--FIN MENU SUPERIOR-->

      <!--header end-->
       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false">
                          <i class="fa fa-home"></i>
                          <span>Proveedores</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" class="active" (click)="c1=true;" >
                          <i class="fa fa-desktop"></i>
                          <span>Productos</span>
                      </a>
                      <ul class="dropdown" *ngIf="c1==true">
                          <li><a  href="/gproductos" class="active">Producto final</a></li>
                          <li><a  href="/gpiezas" >Piezas</a></li>
                          <li><a  href="/gmodelos">Modelos</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-cogs"></i>
                          <span>Pedido de compra</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false;">
                          <i class="fa fa-book"></i>
                          <span>Lotes</span>
                      </a>
                  </li>
                   <li class="sub-menu" *ngIf="false">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-dashboard"></i>
                          <span>Pedido de fabricacion</span>
                      </a>
                  </li>
                  <li class="sub-menu" *ngIf="false">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-dashboard"></i>
                          <span>Devoluciones</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">

          <section class="wrapper">
              <div class="row">
              <!-- Si queremos meter un menu a la derecha, el siguiente div será de 9 para posibilitar uno de 3 a la derecha-->
                  <div class="col-lg-12 main-chart">
                     <nav>
   						<!--<li><a [routerLink]="['/ListUsuarios']">Listado</a></li>-->
					    <li><a [routerLink]="['/CreateProducto']">Nuevo producto</a></li>
					</nav>
   				 <div>
		 		
    			<router-outlet>
    			</router-outlet>
			</div>
                  </div><!-- /col-lg-12 END SECTION MIDDLE -->
                  
                  
  
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->      
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <!--footer start-->
      <footer class="site-footer"  style="background-color:grey;">
          <div class="text-center">
              2016 - Raquel Castillo Perez
                  <i class="fa fa-smile-o"></i>
          </div>
      </footer>
      <!--footer end-->
</section>






 
