<div class="producto-container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="submenu-title">Productos</h1>
			<a [routerLink]="['/CreateProducto']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo producto</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
    		<table class="table table-hover table-responsive">
	    		<thead>
	    			<tr>
	    				<th>Identificador</th>
	    				<th>Nombre</th>
	    				<th>Modelo</th>
	    				<th>Estado</th>
	    				<th>Ubicación</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr *ngFor="#producto of productos"
		        [class.selected]="isSelected(producto)"
		        (click)="onSelect(producto)">
	    				<td>{{producto._id}}</td>
	    				<td>{{producto.nombre}}</td>
	    				<td>{{producto.modelo}}</td>
	    				<td>{{producto.estado}}</td>
	    				<td>{{producto.almacen}}</td>
	    			</tr>
    			</tbody>
    		</table>
		</div>


    	<!-- <div class="col-md-8 col-md-offset-2">
      		<h1 class="submenu-title">Listado de productos</h1>
		    <ul class="items">
		      <li *ngFor="#producto of productos"
		        [class.selected]="isSelected(producto)"
		        (click)="onSelect(producto)">
		        <span class="badge">{{producto._id}}</span>{{producto.modelo}}
		      </li>
		    </ul>
		</div> -->
	</div>
</div>
