<div class="submenu-container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="submenu-title">Tipos de garantía > Detalles de garantía</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div *ngIf="garantia">  
      <div class="form-group">
          <label for="_id">Tipo o zona de influencia:</label>
          <input [(ngModel)]="garantia._id" 
          class="form-control" 
          id="_id"
          placeholder="Nombre"/>
      </div>
      <div class="form-group">
          <label for="tiempo">Meses:</label>
          <input [(ngModel)]="garantia.tiempo"
          class="form-control" 
          id="tiempo"
          placeholder="Tiempo"/>
      </div>
    </div>
    <p>
       <button (click)="gotoIndex()" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-angle-left" aria-hidden="true"></i> Volver</button>
        <button (click)="edit(garantia)" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar garantía</button>
        <button (click)="delete(garantia)" class="btn btn-formulario pull-right"><i class="fa fa-times" aria-hidden="true"></i> Eliminar garantía</button>
    </p>
</div>
