<div class="cliente-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="cliente-title">Nuevo almacén</h1>
  
      <form class="almacen-form"
            [ngFormModel]="almacenForm"
            (submit)="save(almacenForm)">
        
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" 
              class="form-control" 
              id="nombre" 
              ngControl="nombre"
              [class.cliente-error]="!almacenForm.valid"
              autofocus />
        </div>
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" 
              class="form-control" 
              id="direccion" 
              ngControl="direccion"
              [class.cliente-error]="!proveedorForm.valid"
              autofocus />
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad:</label>
          <input type="text" 
              class="form-control" 
              id="ciudad" 
              ngControl="ciudad"
              [class.cliente-error]="!almacenForm.valid"
              autofocus />
        </div>
        <div class="form-group">
          <label for="pais">País:</label>
          <input type="text" 
              class="form-control" 
              id="pais" 
              ngControl="pais"
              [class.cliente-error]="!almacenForm.valid"
              autofocus />
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="text" 
              class="form-control" 
              id="telefono" 
              ngControl="telefono"
              [class.cliente-error]="!almacenForm.valid"
              autofocus />
        </div>
        <div class="form-group">
          <label for="encargado">Encargado:</label>
          <input type="text" 
              class="form-control" 
              id="encargado" 
              ngControl="encargado"
              [class.cliente-error]="!almacenForm.valid"
              autofocus />
        </div>

        <button type="submit"
                [disabled]="!almacenForm.valid" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-floppy-o" aria-hidden="true"> Guardar almacén</i></button>

        </form>
      <button (click)="gotoIndex()" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-angle-left" aria-hidden="true"> Volver</i></button>
    </div>
  </div>
</div