<section id="container">
     <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      
        <header>
        
        <!--MENC DE NAVEGACICN-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Para MC3vil -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".MobileMenu">
                <span class="sr-only">Menú:</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">VALIRYO</a> -->
              <a href="#" class="pull-left logo"><img src="/client/dev/login/templates/img/logo2.png"></a>
            </div>
            <!-- Dispositivos grandes -->
            <div class="collapse navbar-collapse"> <!-- navbar1 -->
              <ul class="nav navbar-nav">
                <li><a (click)="almacen()">Almacén</a></li>
                <li><a (click)="compras()" class="link-activo">Compras</a></li>
                <li><a (click)="ventas()">Ventas</a></li>
                <li><a (click)="admin()">Admin</a></li>
              </ul>
              <button class="btn btn-lg btn-logout navbar-btn pull-right" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
            </div> 
          </div>
        </nav>

        </header>

        <!-- MENC dispositivos pequeC1os -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
             <div class="collapse navbar-collapse MobileMenu" id="nav-movil">
                <ul class="nav navbar-nav">
                    <!-- ALMACC N -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">ALMACÉN <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- AlmacC)n Valiryo -->
                            <li class="dropdown">
                              <a href="#">
                                <i class="fa fa-home"></i>
                                <span>Almacén Valiryo</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">Stock Producto</a></li>
                                <li><a href="#">Stock Piezas</a></li>
                                <li><a href="#">Piezas rotas</a></li>
                              </ul>    
                            </li>
                            <!-- Producto -->
                            <li class="dropdown">
                              <a href="#">
                                <i class="fa fa-barcode"></i>
                                <span>Producto</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">Producto final</a></li>
                                <li><a href="#">Piezas</a></li>
                                <li><a href="#">Modelos</a></li>
                              </ul> 
                            </li>
                            <!-- Control de calidad -->
                            <li>
                              <a href="#">
                                <i class="fa fa-cogs"></i>
                                <span>Control de calidad</span>
                              </a>
                            </li>
                            <!-- Almacenes externos -->
                            <li class="dropdown-submenu">
                              <a href="#">
                                <i class="fa fa-truck"></i>
                                <span>Almacenes externos</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">PLASNOR</a></li>
                                <li><a href="#">LANTEGI</a></li>
                              </ul> 
                            </li>
                            <!-- Reparaciones -->
                            <li>
                              <a href="#/almacen">
                                <i class="fa fa-wrench"></i>
                                <span>Reparaciones</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- COMPRAS -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">COMPRAS <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Proveedores -->
                            <li>
                              <a (click)="gproveedores();" >
                                <i class="fa fa-user"></i>
                                <span>Proveedores</span>
                              </a>
                            </li>
                            <!-- Productos -->
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="fa fa-barcode"></i>
                                <span>Productos</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a (click)="gproductos();">Producto final</a></li>
                                <li><a (click)="gpiezas();">Piezas</a></li>
                                <li><a (click)="gmodelos();">Modelos</a></li>
                              </ul> 
                            </li>
                            <!-- Pedido de compra-->
                            <li>
                              <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Pedido de compra</span>
                              </a>
                            </li>
                            <!-- Lotes -->
                            <li>
                              <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Lotes</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- VENTAS -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">VENTAS <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Clientes -->
                            <li>
                              <a (click)="gclientes();">
                                <i class="fa fa-user"></i>
                                <span>Clientes</span>
                              </a>
                            </li>
                            <!-- Pedidos -->
                            <li>
                              <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Pedidos</span>
                              </a>
                            </li>
                            <!-- Devoluciones -->
                            <li>
                              <a href="#">
                                <i class="fa fa-refresh"></i>
                                <span>Devoluciones</span>
                              </a>
                            </li>
                            <!-- Salidas por averC-a -->
                            <li>
                              <a href="#">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>Salidas por avería</span>
                              </a>
                            </li>
                            <!-- GarantC-a -->
                            <li>
                              <a href="#">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Garantías</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">ADMIN <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Control de usuarios -->
                            <li>
                              <a (click)="gusuarios();">
                                <i class="fa fa-user"></i>
                                <span>Control de usuarios</span>
                              </a>
                            </li>
                            <!-- GestiC3n de almacenes -->
                            <li>
                              <a  (click)="galmacenes();">
                                <i class="fa fa-cubes"></i>
                                <span>GestiC3n almacenes</span>
                              </a>
                            </li>
                            <!-- Tipos de garantC-as -->
                            <li>
                              <a (click)="ggarantias();">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Tipos de garantías</span>
                              </a>
                            </li> 
                            
                        </ul>
                    </li>
                    <!-- <li class="divider"></li> -->
                    <li class="salir">
                      <button class="btn btn-lg btn-logout navbar-btn pull-left" (click)="logout()"><i class="fa fa-sign-out"></i> LOGOUT</button>
                    </li>
                </ul>
            </div>
            </div>
        
      <!--header end-->
       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse visible-lg visible-md visible-sm hidden-xs">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li class="sub-menu">
                      <a (click)="gproveedores();c1=false">
                          <i class="fa fa-user"></i>
                          <span>Proveedores</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=true;" class="active">
                          <i class="fa fa-barcode"></i>
                          <span>Productos</span>
                      </a>
                      <ul class="dropdown" *ngIf="c1==true">
                          <li><a  (click)="gproductos();">Producto final</a></li>
                          <li><a  (click)="gpiezas();" >Piezas</a></li>
                          <li><a  (click)="gmodelos();" class="active">Modelos</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-shopping-cart"></i>
                          <span>Pedido de compra</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false;">
                          <i class="fa fa-cubes"></i>
                          <span>Lotes</span>
                      </a>
                  </li>
                   <li class="sub-menu" *ngIf="false">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-dashboard"></i>
                          <span>Pedido de fabricaciC3n</span>
                      </a>
                  </li>
                  <li class="sub-menu" *ngIf="false">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-dashboard"></i>
                          <span>Devoluciones</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
              <!-- Si queremos meter un menu a la derecha, el siguiente div serC! de 9 para posibilitar uno de 3 a la derecha-->
                <div class="submenu-container">
                      <div class="row">
                        <div class="col-md-12">
                          <h1 class="submenu-title">Productos > Modelos > Detalles de modelo</h1>
                        </div>
                      </div>
                      <br><br>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <div *ngIf="modelo">
                            <form class="modelo-form" [ngFormModel]="modeloForm">
                               <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <select name="nombre"
                                  class="form-control" 
                                  id="nombre"
                                  [(ngModel)]="modelo.nombre"
                                  [class.formulario-error]="!modeloForm.valid"
                                  placeholder="Nombre de modelo">
                                  <option *ngFor="#model of modelos" >{{model.nombre}}</option>
                                </select>
                              </div>
                              <div class="form-group">
                              <label for="refinterna">Referencia interna:</label>
                              <input type="text" 
                                  class="form-control" 
                                  id="refinterna" 
                                  [(ngModel)]="modelo.refinterna"/>
                            </div>
                            <div class="form-group">
                            <label for="caracteristicas">Características:</label>
                              <input type="text" 
                                  class="form-control" 
                                  id="caracteristicas" 
                                  [(ngModel)]="modelo.caracteristicas"/>
                            </div>
                            <div class="form-group">
                                <label for="modeloDe">Es un modelo de:</label>
                                <select name="modeloDe"
                                  class="form-control" 
                                  id="modeloDe"
                                  [(ngModel)]="modelo.modeloDe"
                                  [class.formulario-error]="!modeloForm.valid"
                                  placeholder="Tipo de modelo">
                                  <option value="Pieza">Pieza</option>
                                  <option value="Producto">Producto</option>
                                </select>
                              </div>
                              <div *ngIf="modelo.compuestoPor.length>0">
                                <h5><i class="fa fa-list"></i>Componentes del modelo:</h5>
                                <table>
                                  <tr>
                                    <td>
                                      <div *ngFor="#u of uds;" >
                                         Unidades: {{u}}  &nbsp;
                                       </div>      
                                    </td>
                                    <td>
                                      <div *ngFor="#p of components;" >
                                        {{p}} &nbsp;
                                        <a  (click)="buscar(p);">Buscar&nbsp;<i class="fa fa-search"></i></a> &nbsp;
                                        <a  (click)="minus(p);">Eliminar&nbsp;<i class="fa fa-trash-o "></i></a>
                                      </div>    
                                    </td>
                                  </tr>
                                </table>
                              </div>
                              <div class="form-group">
                                <label for="modelo">Añade más componentes al modelo:</label>
                                <select name="modelo"
                                  class="form-control" 
                                  id="modelo"
                                  ngControl ="compuestoPor"
                                  [class.formulario-error]="!modeloForm.valid"
                                  (change)="a=true"
                                  placeholder="Componentes del modelo">
                                  <option *ngFor="#model of modelos" >{{model.nombre}}</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="unidades">Unidades:</label>
                                <select name="unidades"
                                    ngControl="unidades" 
                                    class="form-control" 
                                    id="unidades" 
                                    (change)="b=true"
                                    placeholder="Selecciona número de unidades"
                                    [class.formulario-error]="!modeloForm.valid">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                </select>
                              </div>
                              <a (click)="plus(modeloForm);a=false;b=false;" *ngIf="a==true&&b==true;"><i class="fa fa-plus" aria-hidden="true">Componente</i></a>
                            </form>
                          </div>
                          <p>
                            <button (click)="gotoIndex()" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-angle-left" aria-hidden="true"></i> Volver</button>
                            <button (click)="edit(modelo)" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar modelo</button>
                            <button (click)="delete(modelo)" class="btn btn-formulario pull-right"><i class="fa fa-times" aria-hidden="true"></i> Eliminar modelo</button>
                          </p>
                        </div>
                      </div>
         

              </div><!--/row -->                  
           </div><!-- /col-lg-12 END SECTION MIDDLE -->
          </section>
      </section>

      <!--main content end-->

</section>



       




