<div class="modelo-container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="submenu-title">Productos > Modelos</h1>
			<a [routerLink]="['/CreateModelo']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo modelo</a>
			<a [routerLink]="['/CreatePieza']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nueva pieza</a>
			<a [routerLink]="['/CreateProducto']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo producto</a>
		</div>
	</div>
	<br><br>
	<div class="row">
    	<div class="col-md-12">
    		<table class="table table-hover table-responsive">
	    		<thead>
	    			<tr>
	    				<th>Nombre</th>
	    				<th>Referencia interna</th>
	    				<th>Características</th>
	    				<th>Tipo de modelo</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr *ngFor="#modelo of modelos"
		        	[class.selected]="isSelected(modelo)"
		        	(click)="onSelect(modelo)">
	    				<td>{{modelo.nombre}}</td>
	    				<td>{{modelo.refinterna}}</td>
	    				<td>{{modelo.caracteristicas}}</td>
	    				<td>{{modelo.modelo}}</td>
	    			</tr>
    			</tbody>
    		</table>
		</div>
	</div>
</div>


<!-- <a [routerLink]="['/CreateModelo']">Nuevo modelo</a>
<div class="cliente-container">
<h2>LIST</h2>
    <ul class="items">
      <li *ngFor="#modelo of modelos"
        [class.selected]="isSelected(modelo)"
        (click)="onSelect(modelo)">
        <span class="badge">{{modelo.nombre}}</span>
      </li>
    </ul>
</div> -->