<div class="cliente-container">
  <form class="proveedor-form"
        [ngFormModel]="proveedorForm"
        (submit)="save(proveedorForm)">

    <h1 class="cliente-title">Nuevo proveedor</h1>

    <br/>Nombre:<br/>
    <input type="text"
           ngControl="nombre"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Nombre"
           autofocus />
   <br/>Dirección:<br/>
   <input type="text"
           ngControl="direccion"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Dirección"
           autofocus />
  <br/>Ciudad:<br/>
  <input type="text"
           ngControl="ciudad"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Ciudad"
           autofocus />
   <br/>País:<br/>
   <input type="text"
           ngControl="pais"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="País"
           autofocus />
   <br/>Teléfono:<br/>
   <input type="text"
           ngControl="telefono"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Teléfono"
           autofocus />
     <br/>Valoración:<br/>
     <input type="text"
           ngControl="valoracion"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Valoración"
           autofocus />
           <br/>Pieza:<br/>
     <input type="text"
           ngControl="pieza"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Pieza"
           autofocus />
           <br/>Refexterna:<br/>
     <input type="text"
           ngControl="refexterna"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Ref externa"
           autofocus />
           <br/>Coste:<br/>
     <input type="text"
           ngControl="coste1"
           [class.cliente-error]="!proveedorForm.valid"
           placeholder="Coste"
           autofocus />
     
<br/><br/>
    <button type="submit"
            [disabled]="!proveedorForm.valid">Añadir</button>

</form>

<button (click)="gotoIndex()">Back</button>