<div class="cliente-container">
  <h1>DETAILS</h1>
    <div *ngIf="proveedor">
    	<h3>Proveedor:</h3>
        <label>Nombre: </label>
        <input [(ngModel)]="proveedor.nombre" placeholder="Nombre"/><br/>
        <label>Direccion: </label>
        <input [(ngModel)]="proveedor.direccion" placeholder="Dirección"/><br/>
        <label>Ciudad: </label>
        <input [(ngModel)]="proveedor.ciudad" placeholder="Ciudad"/><br/>
        <label>Pais: </label>
        <input [(ngModel)]="proveedor.pais" placeholder="País"/><br/>
        <label>Telefono: </label>
        <input [(ngModel)]="proveedor.telefono" placeholder="Teléfono"/><br/>
        <label>Valoracion: </label>
        <input [(ngModel)]="proveedor.valoracion" placeholder="Valoración"/><br/>

    </div>
    <p>
      <button (click)="gotoIndex()">Back</button>
      <button (click)="edit(proveedor)">Save</button>
      <button (click)="delete(proveedor)">Delete</button>
    </p>
</div>
