<section id="container">
     <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      
        <header>
        
        <!--MENCÜ DE NAVEGACIÓN-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Para MC3vil -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".MobileMenu">
                <span class="sr-only">Menú:</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">VALIRYO</a> -->
              <a href="#" class="pull-left logo"><img src="/client/dev/login/templates/img/logo2.png"></a>
            </div>
            <!-- Dispositivos grandes -->
            <div class="collapse navbar-collapse"> <!-- navbar1 -->
              <ul class="nav navbar-nav">
                <li><a (click)="almacen()">Almacén</a></li>
                <li><a (click)="compras()" class="link-activo">Compras</a></li>
                <li><a (click)="ventas()">Ventas</a></li>
                <li><a (click)="admin()">Admin</a></li>
              </ul>
              <button class="btn btn-lg btn-logout navbar-btn pull-right" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
            </div> 
          </div>
        </nav>

        </header>

        <!-- MENCÚ dispositivos pequeños -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
             <div class="collapse navbar-collapse MobileMenu" id="nav-movil">
                <ul class="nav navbar-nav">
                    <!-- ALMACÉN -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">ALMACÉN <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!-- Almacén Valiryo -->
                            <li class="dropdown">
                              <a href="#">
                                <i class="fa fa-home"></i>
                                <span>Almacén Valiryo</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">Stock Producto</a></li>
                                <li><a href="#">Stock Piezas</a></li>
                                <li><a href="#">Piezas rotas</a></li>
                              </ul>    
                            </li>
                            <!-- Producto -->
                            <li class="dropdown">
                              <a href="#">
                                <i class="fa fa-barcode"></i>
                                <span>Producto</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">Producto final</a></li>
                                <li><a href="#">Piezas</a></li>
                                <li><a href="#">Modelos</a></li>
                              </ul> 
                            </li>
                            <!-- Control de calidad -->
                            <li>
                              <a href="#">
                                <i class="fa fa-cogs"></i>
                                <span>Control de calidad</span>
                              </a>
                            </li>
                            <!-- Almacenes externos -->
                            <li class="dropdown-submenu">
                              <a href="#">
                                <i class="fa fa-truck"></i>
                                <span>Almacenes externos</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a href="#">PLASNOR</a></li>
                                <li><a href="#">LANTEGI</a></li>
                              </ul> 
                            </li>
                            <!-- Reparaciones -->
                            <li>
                              <a href="#/almacen">
                                <i class="fa fa-wrench"></i>
                                <span>Reparaciones</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- COMPRAS -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">COMPRAS <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Proveedores -->
                            <li>
                              <a (click)="gproveedores();" >
                                <i class="fa fa-user"></i>
                                <span>Proveedores</span>
                              </a>
                            </li>
                            <!-- Productos -->
                            <li class="dropdown">
                              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                <i class="fa fa-barcode"></i>
                                <span>Productos</span>
                              </a>
                              <ul class="menu-nivel-3">
                                <li><a (click)="gproductos();">Producto final</a></li>
                                <li><a (click)="gpiezas();">Piezas</a></li>
                                <li><a (click)="gmodelos();">Modelos</a></li>
                              </ul> 
                            </li>
                            <!-- Pedido de compra-->
                            <li>
                              <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Pedido de compra</span>
                              </a>
                            </li>
                            <!-- Lotes -->
                            <li>
                              <a href="#">
                                <i class="fa fa-cubes"></i>
                                <span>Lotes</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- VENTAS -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">VENTAS <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Clientes -->
                            <li>
                              <a (click)="gclientes();">
                                <i class="fa fa-user"></i>
                                <span>Clientes</span>
                              </a>
                            </li>
                            <!-- Pedidos -->
                            <li>
                              <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Pedidos</span>
                              </a>
                            </li>
                            <!-- Devoluciones -->
                            <li>
                              <a href="#">
                                <i class="fa fa-refresh"></i>
                                <span>Devoluciones</span>
                              </a>
                            </li>
                            <!-- Salidas por averC-a -->
                            <li>
                              <a href="#">
                                <i class="fa fa-exclamation-triangle"></i>
                                <span>Salidas por avería</span>
                              </a>
                            </li>
                            <!-- GarantC-a -->
                            <li>
                              <a href="#">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Garantías</span>
                              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- ADMIN -->
                    <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">ADMIN <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                            <!-- Control de usuarios -->
                            <li>
                              <a (click)="gusuarios();">
                                <i class="fa fa-user"></i>
                                <span>Control de usuarios</span>
                              </a>
                            </li>
                            <!-- GestiC3n de almacenes -->
                            <li>
                              <a  (click)="galmacenes();">
                                <i class="fa fa-cubes"></i>
                                <span>GestiC3n almacenes</span>
                              </a>
                            </li>
                            <!-- Tipos de garantC-as -->
                            <li>
                              <a (click)="ggarantias();">
                                <i class="fa fa-pencil-square-o"></i>
                                <span>Tipos de garantías</span>
                              </a>
                            </li> 
                            
                        </ul>
                    </li>
                    <!-- <li class="divider"></li> -->
                    <li class="salir">
                      <button class="btn btn-lg btn-logout navbar-btn pull-left" (click)="logout()"><i class="fa fa-sign-out"></i> LOGOUT</button>
                    </li>
                </ul>
            </div>
            </div>
        
      <!--header end-->
       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse visible-lg visible-md visible-sm hidden-xs">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li class="sub-menu">
                      <a (click)="gproveedores();c1=false">
                          <i class="fa fa-user"></i>
                          <span>Proveedores</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=true;">
                          <i class="fa fa-barcode"></i>
                          <span>Productos</span>
                      </a>
                      <ul class="dropdown" *ngIf="c1==true">
                          <li><a  (click)="gproductos();">Producto final</a></li>
                          <li><a  (click)="gpiezas();">Piezas</a></li>
                          <li><a  (click)="gmodelos();">Modelos</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-shopping-cart"></i>
                          <span>Pedido de compra</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" (click)="c1=false;">
                          <i class="fa fa-cubes"></i>
                          <span>Lotes</span>
                      </a>
                  </li>
                   <li class="sub-menu" *ngIf="false">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-dashboard"></i>
                          <span>Pedido de fabricación</span>
                      </a>
                  </li>
                  <li class="sub-menu" *ngIf="false">
                      <a href="javascript:;" (click)="c1=false;" >
                          <i class="fa fa-dashboard"></i>
                          <span>Devoluciones</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
            <div class="row">
              <div class="col-lg-12 main-chart">                           
        				<div class="section-container">
        					<div class="row">
        						<div class="col-md-12">
        							<h1 class="submenu-title">Proveedores</h1>
        							<a [routerLink]="['/CreateProveedor']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo proveedor</a>
        						</div>
        					</div>
        					<br><br>
        					<div class="row">
        				    	<div class="col-md-12">
        				    		<table class="table table-hover table-responsive">
        					    		<thead>
        					    			<tr>
        					    				<th>Nombre</th>
        					    				<th>Dirección</th>
        					    				<th>Teléfono</th>
        					    				<th>Valoración</th>
                              <th>Piezas</th>
        					    			</tr>
        					    		</thead>
        					    		<tbody>
        					    			<tr *ngFor="#p of proveedors"
        							        [class.selected]="isSelected(p)"
        							        (click)="onSelect(p)">
        					    				<td>{{p.nombre}}</td>
        					    				<td>{{p.direccion}} ({{p.ciudad}}) - {{p.pais}}</td>
        					    				<td>{{p.telefono}}</td>
        					    				<td>{{p.valoracion}}</td>
                              <td><div *ngFor="#m of p.materiales">
                                {{m.pieza}}
                              </div></td>
        					    			</tr>
        				    			</tbody>
        				    		</table>
        						</div>
        					</div>
        				</div>
              </div><!-- end col-md-12 -->                  
            </div><!-- end row -->
          </section>
      </section>
      <!--main content end-->
</section>






