<div class="cliente-container">
  <form class="cliente-form"
        [ngFormModel]="clienteForm"
        (submit)="add(clienteForm.value.clienteMessage)">

    <h1 class="cliente-title">{{title}}</h1>

    <input type="text"
           ngControl="clienteMessage"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="a quien añadimosss?"
           autofocus />

    <button type="submit"
            [disabled]="!clienteForm.valid">+</button>
  </form>

  <div class="cliente-list">
    <div *ngFor="#cliente of clientes;" class="cliente-item" (click)="remove(cliente._id);">
      <p>{{cliente.clienteMessage}}</p>
    </div>
  </div>
</div>
