<div class="cliente-container">
  <form class="cliente-form"
        [ngFormModel]="clienteForm"
        (submit)="save(clienteForm)">

    <h1 class="cliente-title">Nuevo cliente</h1>

    <br/>NIF/DNI:<br/>
    <input type="text"
           ngControl="_id"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="NIF/DNI"
           autofocus />
   <br/>Nombre:<br/>
   <input type="text"
           ngControl="nombre"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="Nombre del cliente"
           autofocus />
  <br/>Direccion:<br/>
  <input type="text"
           ngControl="direccion"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="Dirección"
           autofocus />
   <br/>Ciudad:<br/>
   <input type="text"
           ngControl="ciudad"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="Ciudad"
           autofocus />
   <br/>Pais:<br/>
   <input type="text"
           ngControl="pais"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="País"
           autofocus />
   <br/>Telefono:<br/>
    <input type="text"
           ngControl="telefono1"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="Teléfono"
           autofocus />
   <br/>Telefono2:<br/>
   <input type="text"
           ngControl="telefono2"
           placeholder="Otro teléfono de contacto"
           autofocus />
  <br/>Puesto de trabajo:<br/>
  <input type="text"
           ngControl="puestoTrabajo"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="Puesto de trabajo o sector"
           autofocus />
   <br/>Email:<br/>
   <input type="text"
           ngControl="email"
           [class.cliente-error]="!clienteForm.valid"
           placeholder="Email"
           autofocus />
   <br/>Detalles:<br/>
   <input type="text"
           ngControl="detalles"
           placeholder="Detalles"
           autofocus />
     
<br/><br/>
    <button type="submit"
            [disabled]="!clienteForm.valid">Añadir</button>

</form>

<button (click)="gotoIndex()">Back</button>