<div class="cliente-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="cliente-title">Detalles cliente</h1>
      <div *ngIf="cliente">
        <form>
          <div class="form-group">
            <label for="_id">NIF / DNI:</label>
            <input [(ngModel)]="cliente._id" class="form-control" id="_id"/>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input [(ngModel)]="cliente.nombre" class="form-control" id="nombre"/>
          </div>
          <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input [(ngModel)]="cliente.direccion" class="form-control" id="direccion"/>
          </div>
          <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <input [(ngModel)]="cliente.ciudad" class="form-control" id="ciudad"/>
          </div>
          <div class="form-group">
            <label for="pais">País:</label>
            <input [(ngModel)]="cliente.pais" class="form-control" id="pais"/>
          </div>
          <div class="form-group">
            <label for="telefono1">Teléfono: </label>
            <input [(ngModel)]="cliente.telefono1" class="form-control" id="telefono1"/>
          </div>
          <div class="form-group">
            <label for="telefono2">Otro teléfono: </label>
            <input [(ngModel)]="cliente.telefono2" class="form-control" id="telefono2"/>
          </div>
          <div class="form-group">
            <label for="puestoTrabajo">Puesto de trabajo:</label>
            <input [(ngModel)]="cliente.puestoTrabajo" class="form-control" id="puestoTrabajo"/>
          </div>
          <div class="form-group">
            <label for="email">Email: </label>
            <input [(ngModel)]="cliente.email" class="form-control" id="email"/>
          </div>
          <div class="form-group">
            <label for="detalles">Detalles: </label>
            <input [(ngModel)]="cliente.detalles" class="form-control" id="detalles"/>
          </div>
    </div>
    <p>
      <button (click)="gotoIndex()" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-angle-left" aria-hidden="true"> Volver</i></button>
      <button (click)="edit(cliente)" class="btn btn-formulario pull-right margen-izda"><i class="fa fa-floppy-o" aria-hidden="true"> Guardar cliente</i></button>
      <button (click)="delete(cliente)" class="btn btn-formulario pull-right"><i class="fa fa-times" aria-hidden="true"> Eliminar cliente</i></button>
    </p>
</div>
