<section id="container">
         <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  
              </div>
            <!--logo start-->
            <a href="#" class="logo"><img src="/client/dev/login/templates/img/logo2.png" /></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="almacen()">
                        Almacén
                        </a>
                    </li>   
                    <li class="dropdown" >
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="compras()">
                           Compras
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle link-activo" (click)="ventas()">
                        Ventas
                        </a>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" (click)="admin()">
                        Admin
                        </a> 
                    </li>
                    <!-- settings end -->
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle"><button class="btn btn-lg btn-logout navbar-btn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button></a></li>
              </ul>
            </div>
        </header>
      <!--header end-->
      <!--FIN MENU SUPERIOR-->

       <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <li class="sub-menu">
                      <a href="/gclientes" (click)="clientes();" class="active"  >
                          <i class="fa fa-user"></i>
                          <span>Clientes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-shopping-cart"></i>
                          <span>Pedidos</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-refresh"></i>
                          <span>Devoluciones</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-wrench"></i>
                          <span>Salidas por avería</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Garantías</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--header end-->
      
      

  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">

          <section class="wrapper">
              <div class="row">
              <!-- Si queremos meter un menu a la derecha, el siguiente div será de 9 para posibilitar uno de 3 a la derecha-->
                  <div class="col-lg-12 main-chart">
   				           <div>
                  			<router-outlet>
                  			</router-outlet>
			                </div>
                  </div><!-- /col-lg-12 END SECTION MIDDLE -->
              </div><!--/row -->
          </section>
      </section>

      <!--main content end-->      

</section>






 
