<div class="clientes-container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="submenu-title">Clientes</h1>
			<a [routerLink]="['/CreateCliente']" class="btn btn-nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo cliente</a>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-12">
    		<table class="table table-hover table-responsive">
	    		<thead>
	    			<tr>
	    				<th>NIF / DNI</th>
	    				<th>Nombre</th>
	    				<th>Dirección</th>
	    				<th>Teléfono</th>
	    				<th>Puesto de trabajo</th>
	    				<th>Email</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr *ngFor="#cliente of clientes"
		        [class.selected]="isSelected(cliente)"
		        (click)="onSelect(cliente)">
	    				<td>{{cliente._id}}</td>
	    				<td>{{cliente.nombre}}</td>
	    				<td>{{cliente.direccion}} ({{cliente.ciudad}}) - {{cliente.pais}}</td>
	    				<td>{{cliente.telefono1}}</td>
	    				<td>{{cliente.puestoTrabajo}}</td>
	    				<td>{{cliente.email}}</td>
	    			</tr>
    			</tbody>
    		</table>
		</div>
	</div>
</div>


<!-- <div class="submenu-container">
	<div class="row">
    	<div class="col-md-8 col-md-offset-2">
      		<h1 class="submenu-title">Listado de clientes</h1>
		    <ul class="items">
		      <li *ngFor="#cliente of clientes"
		        [class.selected]="isSelected(cliente)"
		        (click)="onSelect(cliente)">
		        <span class="badge">{{cliente._id}}</span> {{cliente.nombre}}
		      </li>
		    </ul>
		</div>
	</div>
</div> -->
